body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden !important;
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(../Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: RobotoCondensed-Light;
    src: url(../Roboto_Condensed/RobotoCondensed-Light.ttf);
}

h1 {
    font-family: RobotoCondensed-Bold;
}

h2 {
    font-family: RobotoCondensed-Bold;
}

h4 {
    font-family: RobotoCondensed-Bold;
}

h3 {
    font-family: RobotoCondensed-Bold;
}

a {
    font-family: RobotoCondensed-Light;
}

p {
    font-family: RobotoCondensed-Light;
}

.head {
    background: rgba(0, 0, 0, 0.5) url(../image/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    background-blend-mode: darken;
}

header {
    display: flex;
    justify-content: space-around;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header ul li {
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
}
.footer p:hover {
    color: #fff;
    transition: 1s;
  }
header ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.txt {

    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-5%, -70%);
    color: whitesmoke;
    font-size: 35px;
}

.first-part h2 {
    text-align: center;
}

.first-part p {
    color: gray;
    width: 35%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

.map img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer ul li {
    list-style-type: none;
}

.footer .row {
    display: flex;
    justify-content: space-around;
}

.footer .row .col {
    flex-basis: 30%;
}

.footer h3 {
    color: chocolate;
    font-size: 23px;
}

.footer p {
    font-size: 21px;
    color: gray;
}
.first-part{
    margin-top: 50px;
}
.second-part {
    margin-top: 50px;
    margin-bottom: 50px;
}
.second-part .row {
    display: flex;
    padding: 20px;
    width: 73%;
    margin: 0 auto;
    justify-content: center;
}

.second-part .row .col input,
textarea {
    width: 823px;
    height: 54px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.second-part .row .col input:hover {
    border: 3px solid chocolate;
    transition: 1s;
}

.second-part .row .col textarea:hover {
    border: 3px solid chocolate;
    transition: 1s;
}

.second-part h3 {
    color: chocolate;
}

@media only screen and (max-width: 734px) {
    body {
        overflow-x: hidden !important;
        margin: 0;
    }

    header {
        display: block;
    }

    header ul {
        display: block;
        text-align: center;
    }

    .head {
        width: auto;
    }

    .text {
        top: 65%;
    }

    .head h2,
    ul {
        margin-top: 0;
    }

    .head ul {
        padding-top: 20px;
    }

    .txt {
        margin-left: -10%;
    }

    .map img {
        width: auto;
        height: auto;
        object-fit: cover;
    }

    .footer .row {
        display: block;
        text-align: center;
        justify-content: space-around;
    }

    .second-part .row {
        display: block;
        width: auto;
        padding: 0;
        text-align: center;
    }

    .first-part p {
        width: auto;
    }

    input {
        width: 100% auto;
    }

    textarea {
        width: 100% auto;
    }
}